html{
  margin:0;
}
* {
  box-sizing: border-box;
}


body{
  font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  margin: 0;

}
body h1{
  font-family: "Georgia", "Times", "Times New Roman", "serif";
}
body h2{
  font-family: "Georgia", "Times", "Times New Roman", "serif";
}
body h3{
  font-family: "Georgia", "Times", "Times New Roman", "serif";
}
header {
  background-color: #ffffff;
  color: #777777;
  text-align: left;
  display: block;
  vertical-align: top;
  list-style-type: none;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  height: 80px;

}

.navbar {
  height: 80px;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  vertical-align:middle;
}

.titleName {
  background-color: #4aaaa5;
}

.titleName h1  {
  color: #ffffff;
  text-align: center;
  padding: 0px 16px;
  height:36px;

}

.titleName li {
  float: left;
}

.nav li{
  float: right;
}

.nav a {
  display: block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  color: #dddddd;
}

.mainSection {
  width: 100%;
  background-image: url("../images/concrete-texture.png");
}

.mainContent {
  width: 960px;
  height: calc(100vh - 170px);
  min-height: 650px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  vertical-align: top;
}

.leftBox {
  margin-top:50px;
  width: 650px;
  height: 575px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #777777;
  padding: 10px 30px 30px 30px;
  float:left;
}

.leftBox h1{
  color: #4aaaa5;
  border-bottom: 2px solid #dddddd;
  height: 60px;
  margin-bottom:10;

}

.leftBox img{
  float:left;
  padding:0px 20px 0px 0px;
  height: 150px;
  width:200px;
}

.portfolio img {
  float:left;
  padding:0px 20px 0px 0px;
  height: 125px;
  width:200px;
}

.leftBox p{
  line-height: 32px;
  overflow-wrap;

}
.connect {
  padding: 10px 30px 30px 30px;
  margin-top:50px;
  width: 270px;
  height: 200px;
  float: right;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #4aaaa5;

}

.connect h2{
  color: #4aaaa5;
  border-bottom: 2px solid #dddddd;
  height:50px;
}

.connect img{
  width: 65px;
  height: 65px;
}
footer {
  background-color: grey;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 90px;
  border-top: 8px solid #4aaaa5;
  line-height: 8;
  font-size: 10px;
}

input {
    width: 100%;
    height: 35px;
    font-size: 16px;

}

textarea {
    width: 100%;
    height: 150px;
    font-size: 16px;
}

button{
  background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}
label{
  line-height: 2;
}

form{
  margin-top: 0;
}
